<div class="container">
  <form class="form-signin col-md-6 offset-md-3"  ngNativeValidate
  #loginForm='ngForm' (ngSubmit)='loginHandler(loginForm)'>
      <div class="text-center mb-4">
          <p>Sign In here</p>
      </div>

      <div class="form-label-group">
          <label for="inputEmail">Email address</label>
          <input type="email" ngModel name="email" class="form-control" placeholder="Email address" required>
      </div>

      <div class="form-label-group">
          <label for="inputPassword">Password</label>
          <input type="password" ngModel name="password" class="form-control" placeholder="Password" required>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p>
  </form>
</div>